:root
{
    --highlight-text-color:#5da4a4;
}

body
{
    background-color: hsl(180, 52%, 96%);
    font-family: 'Spartan',sans-serif;
}
.header
{
    width:100%;
    height:155px;
    background-image: url('./bg-header-desktop.svg');
    background-size: cover;
    background-position:center ;
    background-color: var(--highlight-text-color);
}
.container
{
max-width: 1110px;
width: auto;
display: block;
margin: 0 auto;
padding: 0 40px;
}

@media only screen and (max-width: 600px) 
{
    .container
    {
        padding: 0 10px;
        
    }
}
.search
{
    width: 100%;
    height: auto;
    min-height: 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 16px -8px rgba(93,164,164,0.5);
    padding: 20px 40px ;
    box-sizing: border-box;
    margin-top: -36px;
    opacity: 1;
    display: flex;
    justify-content: space-between;

}

@media only screen and (max-width: 600px) 
{
    .search
    {
        display:none;
        
    }
}
.search_clear
{
    margin-left: 50px;
    background-color: transparent;
    border: none;
    font-size :14px;
    color:var(--highlight-text-color);
    font-weight: 700;
    outline: none;
    cursor: pointer;

}
.search_clear:hover
{
    text-decoration: underline ;
}

.jobs
{
    margin-top: 36px;
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap:25px;
    

}
.jobs_item
{
    width: 100%;
    height: auto;
    padding: 35px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 16px -8px rgba(93,164,164,0.5);
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    margin: 1rem 0;
    border-left: 5px solid #5da4a4;
}
@media only screen and (max-width: 600px) 
{
    .jobs_item
    {
        display:grid;
        margin: 2rem 0;
        padding:25px 5px;
        
    }
}

.jobs__column
{
    display: flex;
    align-items: center;
}
.jobs_img-mobile
{
    height: 46px;
    width: 46px;
    margin-top: -50px;
}
@media only screen and (min-width: 601px)
{
    .jobs_img-mobile
    {
        display:none;
        
    }
}

.jobs_img
{
    width: 90px;
    height: auto;
}
@media only screen and (max-width: 600px) 
{
    .jobs_img
    {
        display: none;
    }
}

.jobs_info
{
    margin-left: 25px;
    width: auto;
    
}
@media only screen and (max-width: 600px) 
{
    .jobs_info
    {
        margin-left: 5px;
        width: auto;
        
    }
}
.jobs_company
{
    color:var(--highlight-text-color);
    font: size 14px;
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
}
.jobs_title
{
    color:hsl(180, 14%, 20%);
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}

.jobs_details
{
    margin: 0;
    padding: 0;
    
    
}

.jobs_details-items
{
    display: inline-block;
    color: hsl(180, 8%, 52%);
    font-size: 15px ;   
}
@media only screen and (max-width: 600px) 
{
    .jobs_details-items
    {
        font-size: 13px;
        
    }
}

.jobs_details-items::after
{
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: hsl(180, 8%, 52%);
    display: inline-block;
    margin: 5px 15px;
    
    
}
@media only screen and (max-width: 600px) 
{
    .jobs_details-items::after
    {
        display: none;
    }
}


.jobs_details-items:last-child::after
{
    display: none;
}
.line
{
    border-bottom: 2px solid #ccc;
    display: block;
    height: 5px;
    padding:
}
@media only screen and (min-width: 601px)
{
    .line
    {
        display:none;
    }
}

.tag, .close-tag
{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: hsl(180, 31%, 95%);
    font-weight: 700;
    font-size: 14px;
    color: var(--highlight-text-color);
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
}
.close-tag
{
    padding-right:45px ;
}
.close-tag::after
{
    content:"";
    display: block;
    width:30px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--highlight-text-color);
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('./icon-remove.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    border-top-right-radius:5px ;
    border-bottom-right-radius: 5px;
}

.tag:hover
{
    background-color: var(--highlight-text-color);
    color: white;
}

.close-tag:hover::after
{
    background-color: hsl(180, 14%, 20%);
}

.jobList
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
